<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex culpa fuga
        iste quaerat libero, nihil perferendis voluptate qui eligendi minima
        vero inventore voluptatum temporibus repudiandae porro quos nesciunt
        harum et?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
